[submodule "3rdParty/nette"]
	path = 3rdParty/nette
	url = juzna@juzna.cz:projects/nette.git
[submodule "3rdParty/lightopenid"]
	path = 3rdParty/lightopenid
	url = git://gitorious.org/lightopenid/lightopenid.git
[submodule "3rdParty/doctrine2/orm"]
	path = 3rdParty/doctrine2/orm
	url = juzna@juzna.cz:projects/doctrine-orm.git
[submodule "3rdParty/doctrine2/dbal"]
	path = 3rdParty/doctrine2/dbal
	url = url = juzna@juzna.cz:projects/doctrine-dbal.git
[submodule "3rdParty/doctrine2/migrations"]
	path = 3rdParty/doctrine2/migrations
	url = git://github.com/doctrine/migrations.git
[submodule "3rdParty/doctrine2/common"]
	path = 3rdParty/doctrine2/common
	url = git://github.com/doctrine/common.git
[submodule "3rdParty/dibi"]
	path = 3rdParty/dibi
	url = git://github.com/dg/dibi.git
[submodule "3rdParty/apigen"]
	path = 3rdParty/apigen
	url = git://github.com/nette/apigen.git
[submodule "libs/Nella/Doctrine"]
	path = libs/Nella/Doctrine
	url = git://github.com/nella/Doctrine.git
