<h1>Ping</h1>
<form method="post" action="{link Net:ping}">
<input type="hidden" name="akce" value="1" />
IP: <input type="text" name="ip" value="{$ip}" /><br />

<input type="submit" value="Pingej" >
</form>

